@media screen and (min-width:800px) {

    /* GLOBAL */
    #content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    /* HEADER */
    header {
        border-right: 2px solid var(--black-edge);
        width: var(--sidebar-width);
        flex-direction: column;
        justify-content: unset;
        position: fixed;
        height: 100%;
    }

    #logo {
        padding: 24px;
        height: auto;
        width: auto;
    }

    #site-title {
        margin: 4px 0;
    }

    #menu {
        display: none;
    }

    nav {
        margin: 4px 0;
        display: flex;
        flex-direction: column;
        gap: 2px;
        position: static;
    }

    nav a {
        color: var(--white-main);
    }

    nav a.active {
        color: var(--white-glow);
        text-shadow: var(--glow-white);
    }

    /* MAIN */
    main {
        grid-row: 1/2;
        margin-left: var(--sidebar-width);
        margin-bottom: var(--footer-height);
        margin-top: 0;
    }

    /* FOOTER */
    footer {
        border-top: 2px solid var(--black-edge);
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        grid-row: 2/3;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 2;
        height: var(--footer-height);
    }

    #content :where(.footer-item) {
        grid-column: unset;
        grid-row: unset;
        border: 0;
    }

    #disclaimer-button {
        display: none;
    }

    #disclaimer {
        border-left: 2px solid var(--black-edge);
        border-right: 2px solid var(--black-edge);
        border-top: 0;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
}

@media screen and (min-width:800px) {
    :root {
        --footer-height: 73.2px
    }
}

@media screen and (min-width:833px) {
    :root {
        --footer-height: 59.4px
    }
}

@media screen and (min-width:1029px) {
    :root {
        --footer-height: 45.6px
    }
}

@media screen and (min-width:1663px) {
    :root {
        --footer-height: 31.8px
    }
}

@media screen and (max-height:439px) {
    #logo {
        height: clamp(33.333vh,22.222vh,11.111vh);
    }
}