/* GLOBAL */
*,
::before,
::after {
    border: none;
    box-sizing: border-box;
    color: inherit;
    font-family: var(--mono);
    font-size: 100%;
    font-weight: normal;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    text-decoration: none;
}

:root {
    --red: #fe3318;
    --orange: #ffb752;
    --yellow: #f5ed96;
    --green: #659067;
    --skyblue: #aee0e4;
    --lightblue: #5f9fcb;
    --darkblue: #134e82;
    --lilac: #d7afc2;
    --black: #2a2829;
    --white: #ffffff;
    --trans: #0000007f;
    --mono: 'Cousine', Courier, monospace, monospace;
    --serif: 'Lora', Times, serif, serif;
    --header-bg: var(--darkblue);
    --header-txt: var(--white);
    --nav-bg: var(--darkblue);
    --nav-txt: var(--white);
    --body-bg: var(--green);
    --body-txt: var(--black);
    --card-bg: var(--white);
    --card-txt: var(--black);
    --footer-bg: var(--darkblue);
    --footer-txt: var(--white);
}

:root.darkmode {
    --red: #d9240d;
    --orange: hsl(35, 100%, 20%);
    --yellow: #e8de6d;
    --green: #59695a;
    --skyblue: #90cbd0;
    --lightblue: #4884ad;
    --darkblue: #11334f;
    --lilac: #bc94a7;
    --black: #ffffff;
    --white: #292929;
    --trans: #ffffff7f;
    --header-bg: var(--darkblue);
    --header-txt: var(--black);
    --nav-bg: var(--skyblue);
    --nav-txt: var(--white);
    --body-bg: var(--green);
    --body-txt: var(--black);
    --card-bg: var(--darkblue);
    --card-txt: var(--black);
    --footer-bg: var(--darkblue);
    --footer-txt: var(--black);
}

/* GENERIC */
img {
    align-content: center;
    text-align: center;
}

b {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header>div,
footer>div {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

/* HEADER + NAV */
header {
    background-color: var(--header-bg);
    color: var(--header-txt);
}

header>div {
    display: grid;
    grid-template-columns: 64px auto 1fr auto;
}

#logo {
    width: 100%;
    height: 100%;
}

#title-text {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 8px;
    width: 100%;
}

#title {
    font-size: 2rem;
}

#subtitle {
    font-size: 0.75rem;
}

#header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 4/5;
    z-index: 1;
}

#menu,
#darkmode {
    background: none;
    cursor: pointer;
    display: inline;
    height: 100%;
    width: 100%;
}

html.darkmode .dark,
html:not(.darkmode) .light,
#menu.open .ham-bars,
#menu:not(.open) .ham-x {
    display: none;
}

nav {
    background-color: var(--nav-bg);
    color: var(--nav-txt);
    display: grid;
    right: -25%;
    position: fixed;
    width: 25%;
    top: 67px;
    transition: right 0.25s ease-out, top 0.25s ease-in-out;
}
nav a {
    height: 24px;
}

nav.open {
    right: 0;
}

.active {
    background-color: #00000020;
    white-space: pre;
}

.active::before {
    content: '>';
}

/* MAIN */
main {
    background-color: var(--body-bg);
    color: var(--body-txt);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* search stuff */
#search {
    display: flex;
    gap: 4px;
    margin: 4px auto;
}

input,
button {
    padding: 2px;
}

button {
    aspect-ratio: 1;
    background-color: var(--orange);
    text-align: center;
}

#toggle-view {
    display: none;
}

/* default list stuff */
.placeholder {
    height: 90px;
}

#list-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-holder {
    background-color: var(--darkblue);
    color: var(--card-txt);
    padding: 2px;
    list-style: none;
    border-radius: 4px;
}

.card {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: auto 1fr;
    background-color: var(--card-bg);
    padding: 2px;
    display: grid;
}

.card-addr,
.card-url,
.card-header,
.card-name,
.card-phone {
    border-bottom: 2px solid var(--trans);
    grid-column: 2/3;
}

.card-header b {
    font-family: var(--serif);
    text-shadow: 1px 1px 0 var(--trans);
}

.card-url {
    border: 0;
}

.card-img {
    background-color: var(--lightblue);
    grid-column: 1/2;
    grid-row: 1/5;
    width: 48px;
    min-height: 48px;
    border-right: 2px solid var(--trans);
    display: flex;
    padding: 4px;
}

.card-img img {
    height: auto;
    width: 100%;
    margin: auto;
}

.card hr {
    display: none;
}

.card p {
    font-size: 0.9em;
    padding: 1px;
}

/* fancy member tier borders */
.level-2 {
    background-image:
        linear-gradient(22.5deg, #dadbdd, #838996, #bcc6cc),
        linear-gradient(-135deg, #dadbddc0, #838996c0, #bcc6ccc0);
}

.level-3 {
    background-image: linear-gradient(22.5deg, #d8a444, #ffd700, #d4af37), linear-gradient(-135deg, #d8a444c0, #ffd700c0, #d4af37c0);
}

/* FOOTER */
footer {
    background-color: var(--footer-bg);
    color: var(--footer-txt);
    width: 100%;
    padding: 8px;
    font-size: 0.75rem;
}

footer>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#socials {
    display: flex;
    gap: 8px;
}

a img {
    aspect-ratio: 1;
    display: block;
    border-radius: 100%;
    width: 100%;
    height: auto;
    margin: 8px;
}