@media screen and (min-width: 918px) {
    header {
        display: grid;
        gap: unset;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        height: 222px;
        text-align: unset;
        width: 100%;
    }

    #header-content {
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 0;
    }

    #selfie {
        border-radius: 4px;
        width: 6rem;
    }

    #title {
        font-size: 2.25rem;
    }

    #menu {
        display: none;
    }

    nav {
        display: grid;
        flex-direction: row;
        grid-column: 1/3;
        grid-template-columns: repeat(4, 1fr);
        grid-row: 2/3;
        position: relative;
    }

    .nav-link {
        align-items: center;
        background-color: var(--off-black);
        color: var(--off-white);
        display: flex;
        font-size: 1.5rem;
        padding: 0.75rem;
        width: 100%;
    }

    .nav-link:hover {
        color: var(--black);
    }

    .active {
        background-color: var(--off-black);
        box-shadow: unset;
        color: var(--bright-yellow);
    }

    .popup-text {
        font-size: 1.25rem;
    }

    .popup-text h3 {
        font-size: 1.75rem;
    }

    .popup-text span {
        font-size: 1.5rem;
    }

    .popup-text li {
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 740px) {
    main {
        display: grid;
        gap: 4px;
        grid-template-columns: 60% 40%;
        padding: 12px 16px;
    }

    section {
        box-shadow: 0 0 16px var(--off-black);
    }

    h2,
    #cert-header {
        font-size: 1.75rem;
    }

    #course-work-list li {
        line-height: 2rem;
    }

    #map-picture {max-width: 600px;}

    #map-caption {
        font-size: 1.125rem;
    }

    #map-source {
        font-size: 1rem;
    }

    #certificate {
        grid-column: 1/3;
        margin-bottom: 8px;
    }

    #credits-left {
        font-size: 1.125rem;
    }

    #cert-filters {
        display: grid;
        font-size: 1.25rem;
        grid-template-columns: 15% 15% 15%;
        justify-content: center;
    }

    #courses {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 155px;
    }

    .show-info {
        font-size: 1.5rem;
        margin: auto;
        padding: 12px;
        width: 30%;
    }

    footer {
        height: 100px;
    }

    #footer-text {
        display: block;
        font-size: 1.125rem;
        margin: 0;
    }

    #name::before,
    #name::after {
        content: ' | ';
    }

    #lastModified {
        font-size: 1rem;
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    #title {
        font-size: 1.75rem;
    }

    h2,
    #cert-header {
        font-size: 1.25rem;
    }

    .nav-link {
        font-size: 1.125rem;
    }

    .show-info {
        font-size: 1.125rem;
    }

    .filter-button,
    #credits-left,
    #footer-text,
    #map-caption {
        font-size: 1rem;
    }

    #lastModified,
    #map-source {
        font-size: 0.8125rem;
    }
}

@media screen and (max-width: 440px) {
    html {
        overflow-x: auto;
    }

    #title {
        font-size: 1.5rem;
    }

    h2,
    #cert-header {
        font-size: 1.125rem;
    }

    .show-info,
    .filter-button,
    #credits-left,
    #map-caption {
        font-size: 1rem;
    }

    #footer-text,
    #lastModified,
    #map-source {
        font-size: 0.8125rem;
    }

    .popup-text {
        font-size: 1rem;
    }

    .popup-text h3 {
        font-size: 1.25rem;
    }

    .popup-text span {
        font-size: 1.125rem;
    }

    .popup-text li {
        font-size: 0.8125rem;
    }
}