#course-work ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
}

#course-work a {
    display: inline-block;
    height: 24px;
}

h2,
#cert-header {
    background-color: var(--dark-green);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: var(--off-white);
    font-family: var(--serif);
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
}

#location-map {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#map-picture {
    display: inline-block;
    height: 100%;
    max-width: 310px;
    overflow: hidden;
    padding: 8px;
    width: 100%;
}

#map-img {
    box-shadow: 2px 2px 4px var(--shadow);
    height: 100%;
    width: 100%;
}

#map-caption {
    font-size: 1rem;
    margin: 0 auto 8px;
}

#map-source {
    font-size: 0.8125rem;
}

#cert-header {
    display: flex;
    flex-direction: column;
}

#cert-header h2 {
    padding: 0;
}

#credits-left {
    font-size: 1rem;
    font-style: italic;
    padding-top: 4px;
}

#course-info-box {
    display: grid;
}

#cert-filters {
    border-bottom: 1px inset var(--black);
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 8px 16px 8px;
}

#cert-filters li {
    width: 100%;
}

.filter-button {
    background-color: var(--off-black);
    border-radius: 8px;
    color: var(--off-white);
    font-size: 1.125rem;
    height: 100%;
    padding: 8px;
    width: 100%;
}

.filter-button.selected {
    color: var(--bright-yellow);
}

.filter-button:hover,
.filter-button:focus-visible {
    background-color: var(--bright-yellow);
    color: var(--black);
    text-shadow: 0 0 3px var(--light-green);
}

#courses {
    display: flex;
    flex-direction: column;
    gap: 24px 16px;
    padding: 12px 16px 16px;
}

.loading {
    height: 409px;
}

.show-info {
    border-radius: 8px;
    font-size: 1.25rem;
    padding: 8px;
    text-align: center;
}

.show-info:hover,
.show-info:focus-visible {
    box-shadow: 0 0 8px var(--red), 0 0 12px var(--bright-yellow);
}

.show-info.clicked:hover,
show-info.clicked:focus-visible {
    box-shadow: none;
}

.done {
    background-color: var(--dark-green);
    background-image: linear-gradient(var(--dark-green), var(--shadow));
    color: var(--off-white);
}

.wip {
    background-color: var(--medium-green);
    background-image: linear-gradient(var(--medium-green), var(--shadow));
    color: var(--black);
    font-style: italic;
}

#popup {
    background-color: transparent;
    display: none;
    flex-direction: column;
    font-style: normal;
    height: 100vh;
    left: 0;
    max-height: unset;
    max-width: unset;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100vw;
    z-index: 2;
}

#popup[open] {
    display: flex;
}

::backdrop {
    background: none;
    background-image: linear-gradient(#00000015, #ffffff15, #00000015), linear-gradient(120deg, #2020202a, #dfdfdf2a, #2020202a), linear-gradient(240deg, #4040403f, #bfbfbf3f, #4040403f);
}

#close {
    background-color: transparent;
    border: 1px solid var(--bright-yellow);
    border-radius: 100%;
    color: var(--off-white);
    float: right;
    font-size: 24px;
    height: 32px;
    position: relative;
    right: -4px;
    top: -8px;
    width: 32px;
}

#close::before {
    content: 'X';
    position: relative;
    top: 1px;
}

#close:hover,
#close:focus-visible {
    background-color: var(--red);
}

#popup-text {
    background-color: var(--dark-green);
    border: 4px solid var(--bright-yellow);
    border-radius: 8px;
    color: var(--off-white);
    font-size: 1.125rem;
    margin: auto;
    max-width: 400px;
    overflow: auto;
    padding: 16px 4px;
    scrollbar-width: thin;
    text-align: left;
    width: 75%;
}

#course-name {
    font-size: 1.5rem;
    text-align: center;
}

#course-title {
    font-size: 1.25rem;
}

#popup-text hr {
    border: 1px solid var(--bright-yellow);
    margin: 8px -4px;
}

#course-tech {
    padding-left: 11px;
}

#course-tech li {
    font-size: 1rem;
}

.anim {transform: rotate3d(1,0,0,3690deg) translateX(-100px);}

.animate0 { animation: 3.125s ease-out 0.125s 1 both anim2, 3.125s ease-out 0.125s 1 both anim; }
.animate1 { animation: 3.000s ease-out 0.250s 1 both anim2, 3.000s ease-out 0.250s 1 both anim; }
.animate2 { animation: 2.875s ease-out 0.375s 1 both anim2, 2.875s ease-out 0.375s 1 both anim; }
.animate3 { animation: 2.750s ease-out 0.500s 1 both anim2, 2.750s ease-out 0.500s 1 both anim; }
.animate4 { animation: 2.625s ease-out 0.625s 1 both anim2, 2.625s ease-out 0.625s 1 both anim; }
.animate5 { animation: 2.500s ease-out 0.750s 1 both anim2, 2.500s ease-out 0.750s 1 both anim; }
.animate6 { animation: 2.375s ease-out 0.875s 1 both anim2, 2.375s ease-out 0.875s 1 both anim; }
.animate7 { animation: 2.250s ease-out 1.000s 1 both anim2, 2.250s ease-out 1.000s 1 both anim; }
.animate8 { animation: 2.125s ease-out 1.125s 1 both anim2, 2.125s ease-out 1.125s 1 both anim; }

@keyframes anim {
    000.000% {translate:-100.000px}
    000.813% {translate:-061.804px}
    001.315% {translate:-038.198px}
    002.128% {translate:-023.608px}
    003.444% {translate:-014.591px}
    005.573% {translate:-009.017px}
    009.017% {translate:-005.573px}
    014.591% {translate:-003.444px}
    023.608% {translate:-002.128px}
    038.198% {translate:-001.315px}
    061.804% {translate:-000.813px}
    100.000% {translate:-000.000px}
}

@keyframes anim2 { 
    000.000% {transform:rotate3d(1, 0.00, 0.00, 3690deg)}
    001.010% {transform:rotate3d(1, 0.01, 0.01, 3689deg)}
    009.090% {transform:rotate3d(1, 0.01, 0.01, 3295deg)}
    018.181% {transform:rotate3d(1, 0.01, 0.01, 2914deg)}
    027.272% {transform:rotate3d(1, 0.01, 0.01, 2541deg)}
    036.363% {transform:rotate3d(1, 0.01, 0.01, 2173deg)}
    045.454% {transform:rotate3d(1, 0.01, 0.01, 1808deg)}
    054.545% {transform:rotate3d(1, 0.01, 0.01, 1445deg)}
    063.636% {transform:rotate3d(1, 0.01, 0.01, 1083deg)}
    072.727% {transform:rotate3d(1, 0.01, 0.01, 0722deg)}
    081.818% {transform:rotate3d(1, 0.01, 0.01, 0361deg)}
    090.909% {transform:rotate3d(1, 0.00, 0.00, 0001deg)}
    100.000% {transform:rotate3d(1, 0.00, 0.00, 0000deg)}
}